*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;
}
.main-photo {
width: 100%;
}
.container {
    max-width: 1145px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
}
.header-menu-item {
    display: inline;
    margin-left: 72px;
    color: #FF0000;
}
.page-header-menu {
    text-align: center;
}
.description {
    color: #373737;
text-align: center;
margin-top: 50px;
margin-bottom: 40px;
}
.red-button {
 width: 191px;
height: 51px;
margin-left: auto;
margin-right: auto;
margin-top: 66px;
background: #FF0000;
border-radius: 4px;
color: white;
align-items: center;
text-align: center;
padding-top: 18px;
}
.bottom-text {
    margin-left: 713px;
    margin-top: 80px;
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
align-items: center;
letter-spacing: 2.4px;

color: #373737;
}
.header-menu-link {
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #FF0000;
    text-transform: uppercase;
}